.form-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #272727, #05102b);
  overflow: hidden;
}

#form-title {
  color: #eee;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

.sub-btn {
  background-color: #a5bbfa;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
}

.sub-btn:hover {
  opacity: 0.7;
}

.backToHome {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  color: #eee;
  cursor: default;
}
.backToHome :nth-child(1) {
  font-size: 5rem;

  cursor: pointer;
}
.backToHome :nth-child(2) {
  font-size: 2rem;
}
